body {
    font-family: cursive;
}

#page-title {
    font-size: 30px;
}

#container {
    margin: 40px 20px 40px 20px;
}

#page-title {
    text-align: center;
    font-family: monospace;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 20rem;
    height: 23rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card>img {
    width: 100%;
}