html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(45, 45, 45);
    color: white;
}

.border {
    border: 1px solid white;
    margin: auto;
}

.wadah {
    width: 700px; /* unit absolute atau mutlak */
}

/* Pseudo class :hover - Memberikan efek pada elemen setiap
                         kali kursor mouse berada pada elemen tersebut */
h2:hover {
    background-color: rgb(4, 4, 4);
}

.card:target {
    background-color: gray;
}

/* Pseudo class ::first-letter - memberikan desain kepada huruf depan elemen
                                 teks seperti paragraf, header, dan juga precode */
/* Pseudo class ::first-line - memberikan desain kepada satu garis pertama dalam elemen
                               teks seperti paragraf, header, dan juga precode */
p::first-letter {
    color: gray;
    font-size: xx-large;
}

.display { 
    /* display: none; - Untuk menyembunyikan elemen-elemen yang ada di dalamnya */
    /* display: inline; - membuat suatu elemen ditampilkan dalam satu kolom tetapi bisa
                          jadi elemen-elemen tersebut berada di luar ataupun bertabrakan
                          dengan container atau wadahnya */
    /* display: block; - membuat suatu elemen memiliki area yang memanjang ke kanan
                         hingga menyentuh batas container atau wadah */
    display: inline-block; /* membuat suatu elemen ditampilkan dalam satu kolom didalam
                              container atau wadah */
    padding: 3%;
    /* animation-delay: 3s; */
}

.display:hover {
    animation-name: animasi;
    animation-duration: 1s;
}

@keyframes animasi {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    100% {background-color: green;}
}

.warna {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: black;
}

img {
    width: 100px;
}

.card {
    width: 30%; /* unit relative atau menyesuaikan */
    padding: 5%;
    box-sizing: border-box; /* Membatasi elemen agar tidak keluar dari containernya */
}

.horizontal {
    display: flex;
    /* Flex firection : digunakan untuk mengatur arah setiap elemen pada html.
                        Ada 4 jenis flex direction, yaitu;
                        1. row untuk mengatur arah elemen dari atas ke bawah
                        2. column untuk mengatur arah elemen dari kiri ke kanan
                        3. row-reverse untuk mengatur arah elemen dari bawah ke atas
                        4. column-reverse untuk mengatur arah elemen dari kanan ke kiri
    flex-direction: row;
    flex-direction: column;
    */
    justify-content: center;
    padding: 10px;
    gap: 10px; /* Gap untuk memberikan jarak antara elemen pada html*/

}

.rata {
    text-align: center;
    /* Text-align : digunakan untuk meratakan posisi penulisan pada teks.
                    Ada 4 jenis text-align, yaitu ;
                    1. left untuk meratakan teks dari kiri
                    2. right untuk meratakan teks dari kanan
                    3. center untuk meratakan teks ke tengah
                    4. justify untuk meratakan teks dari kiri ke kanan
                       secara rapi
    text-align: left;
    text-align: right;
    */
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .tempat {
        width: 80%;
    }

    .lebar {
        width: 100%;
    }

    .respon {
        display: flex;
        flex-direction: column;
    }
}